spring:
  mail:
    host: sandbox.smtp.mailtrap.io
    port: 2525
    username: ${MAILTRAP_USERNAME}
    password: ${MAILTRAP_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  application:
    name: aipj
  datasource:
    url: jdbc:postgresql://localhost:5432/ai_tracker_new
    username: ${POSTGRESQL_USERNAME}
    password: ${POSTGRESQL_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    open-in-view: false

langchain4j:
  open-ai:
    chat-model:
      api-key: ${OPENAI_API_KEY}
      model-name: gpt-4o-2024-08-06
      log-requests: true
      log-responses: true
      response-format: json_schema

ollama:
  model: llama3.2
  baseurl: http://localhost:11434

googlecloud:
  project: basic-breaker-323218
  location: us-central1
  model: gemini-1.5-pro

brandwatch:
  host: ${BRANDWATCH_API_HOST}
  username: ${BRANDWATCH_API_USERNAME}
  password: ${BRANDWATCH_API_PASSWORD}
  projectID: ${BRANDWATCH_API_PROJECT_ID}
